html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

:root {
  --color-navy: #1D0F5A;
  --color-red: #FF1E1E;
  --color-black: #000000;
  --color-gray: #666666;
}

.text-red {
  color: var(--color-red);
}

.bg-navy {
  background-color: var(--color-navy);
}

.bg-red {
  background-color: var(--color-red);
}

.border-red {
  border-color: var(--color-red);
}

.border-l-red {
  border-left-color: var(--color-red);
}

.border-t-red {
  border-top-color: var(--color-red);
}

* {
  box-sizing: border-box;
}